GtkBox{
	background-color: #F8F6D6;
}

GtkButton{
	border-radius: 0px;
	border: none;
	background-image: none;
	font-weight: 400;
	font-family: Lato;
	font-size: 1.17em;
	color: #f5f5f5;
	
	background-color:#653024 ;

}

#barra-lateral{
	background-color: #653024;

}

GtkButton:hover{
	transition: 0.7s;
	background-color: #FF8A65;
	border-color: #FF7043;
	box-shadow: 1px 1px 1px #FF7043;
	
}
